@media (min-width: 700px) {

    #hamburger-btn {
        display: none;
        cursor: pointer;
        list-style: none;
        padding: 0;
    }

    .home {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        */
    }
}