:root {
    --primary-color: white;
    --secondary-color: rgb(42, 8, 73);
    --tertiary-color: rgb(233, 230, 230);
    /* --tertiary-color: rgb(204, 202, 202); */
    --button-background-color:rgb(88, 87, 87);
    --nav-background-color: rgb(240, 234, 234);
    --list-completed-color: #ece036;
    --accent-color: #292c2eea;
    --accent-color2: #f4f800;

    --primary-font: '"Roboto", sans-serif';
    --secondary-font: '"Monserrat", sans-serif';
    --tertiary-font: '"Open Sans", sans-serif';
}
* {
    box-sizing: border-box;
   

}
header, main, nav, footer {
        max-width: 1300px;
        padding: 0;
        margin: auto;
        min-width: 320px;
}

header {
    background-color: var(--secondary-color);
    align-items: center;
}
main {
    font-family: var(--tertiary-font);
    display: grid;
}

/* Hero section */
.hero {
    position: relative;
    font-family: var(--primary-font);
    color: white;
    text-align: center;
 

}
.hero>img{
    width: 100%;
    height:auto;
    display: block;    
}

.hero-button {
    width: auto;
    height: auto;
    position: absolute;
    right: 5%;
    bottom:15%;
    background-color: var(--button-background-color);
    color: var(--primary-color);
    border: 1px solid #cb376a;
    margin-top: 1rem;
    padding: .7rem;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
    border-radius: 20%;
    
  
}
.hero-button:hover {
    background-color: var(--secondary-color);
    font-style: italic;
   
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
   
    
}


p {
    font-family: var(--primary-font);
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: right;
    padding: 1px;
}

nav a {
    
    padding: .5rem;
    text-decoration: none;
    font-size: 1.3em;
    font-family: var(--secondary-font);
    font-weight: 400;
    transition: 0.1s;
    border-radius: 6%;
    color: var(--primary-color);
}

nav a:hover {border: 2px solid var(--primary-color);}

#profile {
    display: flex;
    align-items: center;
    justify-content: left
}

header span {
    font-size: 2rem;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 2.5em;   
}

.profile img {
    max-width: 120px;
    max-height: 120px;
    margin: 5px;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--secondary-color);
    margin-top: 0%;
}

.info {
    padding: 0;
    margin: 5px;
    border: 1px solid var(--tertiary-color); 
    box-shadow: 0 0 10px #aaa;   
}
.info h2 {
    background-color: var(--secondary-color);
    color: white;
    margin: 0;
    padding: 10px 10px;
    text-align: left;
    width: 100%;
    font-size: 1.3em;
}

.card {
    padding: 0;
    margin: 5px;
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    text-align: center;
    height: auto; 
}

.card h2 h5 {
    margin: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: black;
    padding: 5px 0;
    font-size: 1.3em;
}
.card h5{
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card img {
    width: 85px;
    height: 60px; 
    padding: 2px;
    margin: 0;
    border-radius: 20px;
    text-align: center;
}

.card p {
    padding: 7px;
    overflow:hidden;
}

ul {
    padding: 0;
    margin-left: 50px;    
}

figure {
    padding: 0;
    /* max-width: 220px; */
    margin: 0;
    text-align: center;
}
#lastModified {
    color: var(--accent-color2);
    font-size: 0.8em;
    font-family: var(--tertiary-font);
    font-weight: 100;
}
footer {
    background-color: var(--secondary-color);
    padding: 1rem;
    width: 100%;
 
}
footer>div{
    justify-content:center;
}    
footer>div>div>p {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 0%;
}
#socials {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 10px;
    width: 100%;
    height: 57px;     
}

#socials>a {
    border: solid;
    border-color: var(--primary-color);
    border-width: 3px;
    border-radius: 15%;
    background-color: var(--primary-color);      
} 
#socials>a>img {
    width: 50px;
    height: auto;
    border: none;
    margin: 0%;
    padding: 0%;
} 
/*********** directory.html settings **************/
.directory{
    text-align: center;
}
.display {
	margin: 1rem auto;
	border: 1px solid rgb(0 0 0 / 0.1);
    border-style:double;
	/* padding: 0.5rem; */
	background-color: #333;
	text-align: center;
}
.display button {
	padding: 1rem;
	font-weight: 500;
}
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {text-align: center;}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 1rem #555;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h2 {
	font-size: 1.2rem;
}
.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section h2 {
	font-size: 1rem;
}

.list section:nth-child(even) {
	background-color: #bbb;
}
section h3, section h2 {
	font-size: 1.5rem;
}
section a {
	font-family: Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
}

/* *** weather-info part *** */
.weather-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
    justify-content:space-evenly;
    align-items: center; 
}

/* ********** weather-forecast part ************ */

#weather-forecast{
    align-items: center;
    align-content: center;
    text-align: center;
}
#weather-forecast>div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}
/* ***spotlights*** */

/* ********** Join form settings ******** */
.formContainer {padding: 1rem;}
form.designForm {margin: 1rem 2%;}
.designForm label 
{
    display: block;
    font-size: 1.1rem;
    /* padding-top: .2rem; */
}
.designForm h4, .required{margin: 0;}
.designForm>.required{
    border-top: 1px solid #eee;
    text-align: end;
    font-style: italic;
    font-weight: bold;
}

.designForm input[type=text],
.designForm input[type=tel],
.designForm input[type=date],
.designForm input[type=email],
.designForm textarea,
.designForm select {
    display: block;
    margin: .1rem 0 1rem 0 ;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color:#555;
    font-size: 1.2rem;
    color: #3D405B;
    width: 300px;
}

.aplicationForm, .levels{justify-self: center;}
.designForm input:required {border-left-color: #d70000;}
.designForm input:focus {border-left-color: black; outline:none;}
.designForm input:required:valid{border-left-color: green;}

.designForm input[type=submit] {
    border: 1px solid black;
    text-align: center;
    color: white;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
    animation: color_change 1s infinite alternate linear;
}
/**************** MODAL ***************/
.levels aside {
    border: solid 1px #444;
    border-radius: 5px 20px;
    padding: 10px;
    background-color: var(--tertiary-color);
    /* background-color: #bed9d2; */
    text-align: center;
    margin-bottom: 1.5rem;
    width: 300px;
    animation-duration: 2s;
    animation-name: slidein;
}
.levels>h1{margin-bottom: 2.5rem;}

.bronze, .bronze:hover{background-color: yellowgreen;}
.silver,.silver:hover{background-color: silver;}
.gold, .gold:hover{background-color: gold;}
.none, .none:hover{background-color: whitesmoke;}
@keyframes slidein {
    0% {
      opacity: 0%;
      margin-top: 50px;
      background-color: #aebb1a;
    }
    100% {
      opacity: 100%;
      margin-top: 0px;
      background-color: var(--tertiary-color);
    }
  }

 #levelDialog {
    position: relative;
    border: 2px solid #f27d80;
    border-radius: 8px;
    padding: .5rem;
    /* background-color: #eee; */
    box-shadow: 0 0 15px #777;
    width: 450px;
}

#levelDialog div {
    display: grid;
    grid-template-columns: auto 44px;
    border-bottom: dashed 1px #aaa;
}
  
  #levelDialog h4 {
    font-size: 1.5rem;;
    font-weight: 500;
    margin: 0;
  }
  #levelDialog span {
    font-size: 1rem;;
  }
  ::backdrop {
    background-color: rgba(255, 255, 255, 0.75);
  }
 
  #levelDialog button {
    width: 44px;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ccc;
    font-size: 1.5rem;
    /* text-align: center;  */
  } 

  @keyframes color_change {
	0% {
        border-radius: 20px; 
        background-color: var(--secondary-color);}
    100% {
        border-radius: 5px;
        background-color: rgb(128, 120, 85);}
}
.designForm input:-webkit-autofill{
-webkit-text-fill-color: #3D405B;
}
/* ************ Thanks *********** */
#results {
background-color: var(--tertiary-color);
padding: 0 1rem;
margin: 10px;
border: 1px solid #E07A5F;
border-radius: 6px;
}

.thanks{padding: 1rem;}


@media (max-width: 700px) {
    main {
        grid-template-rows: 1fr;
    }

    .resources {
        grid-template-columns: 1fr;
    }
  

    .profile_info {
        grid-template-columns: 1fr;
    }

    #hamburger-btn {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        padding: 0.5rem;
    }

    #hamburger:hover {
        color: var(--accent-color2);
    }

    #primary-nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        
        background-color: var(--tertiary-color);
        
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }
     #primary-nav.show {
        max-height: 500px;
    }

    #primary-nav li {
        padding: 0.5rem 1rem;
    }

    #primary-nav a {
        color: var(--secondary-color);
        border-color: var(--accent-color);
        text-decoration: none;
        display: block;
        padding: 0.5rem 0;
    }
    .list section img {
	display: none; /* smaller viewports only */
    }
    footer>div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    footer>div>div>p {text-align: center;}
    .grid {
        display: flex;
        flex-direction: column;
    }
    /* Discover page */
    #places div {
        grid-template-areas: 
        "name name" 
        "photograph description"
        "photograph location"
        "button button"
      }
      #places div img {
        width: 300px;
    }
   
}
