/*** HOME threats section ***/



#all-threats-list>section {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:"name button";
    box-shadow: 0 0 2px brown;
    align-items: center;
    justify-content: center;
   
    padding: .5rem;
   
}
.card3>h3{
    grid-area: name;
    padding: .2rem;
    margin: .2rem;
    color: var(--accent-color);
   

}
.card3>img{
    justify-self: center;
    max-width: 250px;
    padding: .2rem;
    margin: .2rem;
}
.card3>p{
    padding:0 1rem 0 1rem ;
    margin :.5rem;
}
@media (max-width: 700px) {
  #all-threats-list>section {
    display: flex;
    flex-direction: column;
   
    }
}
/* .card3>button {
    grid-area: button;
    height: 25px;width: 100px;
    border-radius: 10px;
    border: none;
}
.card3>button:hover{
    background-color: var(--accent-color);
    color: #fff;
    cursor: pointer;
    
}
.threats-link-page{
    text-align: center;
    padding: .3rem;
    margin: .5%;
} */
